<!DOCTYPE html>
<html>
    <head>
        <title> Pardesi | Discover Bollywood Music Videos, Movies & Culture </title>

        <link href="/static/css/normalize.css" type="text/stylesheet"></link>
        <link href="/static/css/foundation.css" type="text/stylesheet"></link>
        <link href="/static/css/video-js.css" type="text/stylesheet"></link>

        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/modernizr.js"></script>
        <script type="text/javascript" src="/static/js/foundation.js"></script>
    </head>

    <body>
        {% block content %} {% endblock %}
        <div class="row">
            <div class="large-12 columns">
                <p> Created by <a href="http://vverma.net">Vaibhav Verma </a> and <a href="http://gerardoneill.com"> Gerard O'Neill </a>.
            </div>
        </div>
    </body>
</html>
